<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CustomLargeSettings" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="None" />
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>

    <services>
      <service name="Service1">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomLargeSettings" contract="IService"></endpoint>
      </service>
      <service name="Onboard">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="CustomLargeSettings" contract="IService2"></endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--Set up SQL Instance Store-->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />

          <sqlWorkflowInstanceStore connectionString="Data Source=DESKTOP-E6BVNOS\SQLEXPRESS;Initial Catalog=master;Integrated Security=True;Asynchronous Processing=True" hostLockRenewalPeriod="00:00:15" runnableInstancesDetectionPeriod="00:00:05" />
          <!--<sqlWorkflowInstanceStore connectionString="Data Source=192.168.15.76; Persist Security Info= True; User ID=sa;Password=deep@identity09;Initial Catalog=WorkflowInstanceStore;Asynchronous Processing=True" hostLockRenewalPeriod="00:00:15" runnableInstancesDetectionPeriod="00:00:05" />-->
          <workflowIdle timeToPersist="00:00:00" timeToUnload="00:00:05" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>


</configuration>
